<<<<<<< HEAD
<<<<<<< HEAD
<h1>Welcome to the Digital Entertainment Tracker!</h1>
<p>Coming shows:</p>
<table>
	<% for show in @shows %>
	<tr>
		<td><%= show.seriesname %></td><td><%= show.airs_time %> - <%= show.airs_dayofweek %></td>
	</tr>
	<% end %>
</table>
<%= @shows.first.methods %>
=======
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
>>>>>>> parent of 9ae75d0... Added basic list of shows, sorted by day (alphabetically) and air-time (random formatting).
=======
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
>>>>>>> parent of 9ae75d0... Added basic list of shows, sorted by day (alphabetically) and air-time (random formatting).
