<h1>Welcome to the Digital Entertainment Tracker!</h1>
<p>Coming shows:</p>
<table>
	<% for show in @shows %>
	<tr>
		<td><%= show.seriesname %></td><td><%= show.airs_time %> - <%= show.airs_dayofweek %></td>
	</tr>
	<% end %>
</table>
<%= @shows.first.methods %>