<h1>Welcome to the Digital Entertainment Tracker!</h1>
<h3>These are our most tracked shows, log in to add and track your favourites.</h3>
<%if true%>
	<table>
		<tr>
			<th>Series title</th>
			<th>Air date</th>
		</tr>
	<% @upcoming.each do |episode| %>
		<tr>
			<td><%=episode[0]%></td>
			<td><%=episode[1]%>
			</td>
		</tr>
	<% end %>
<% end %>
</table>