<h2>Search Results</h2>
<h3>Query for <%= @query %></h3>

<% @results.each do |resultItem| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><%= link_to resultItem.seriesname, {:controller => "series", :action => "show", :seriesid => resultItem.seriesid} %></h4>
  </div>
  <div class="panel-body">
    <% if resultItem.bannerpath_full %>
      <%= image_tag(resultItem.bannerpath_full, :class => "center-block") %>
    <% end %>
    <br />
    <%= resultItem.overview %>
  </div>
</div>
<% end %>
