<div class="page-header">
  <%= image_tag(@result.bannerpath_full, :class => "center-block", alt: @result.seriesname) %>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actors</h3>
  </div>

  <ul class="list-group">
  <% @result.actors.each do |actor| %>
    <li class="list-group-item"><%= actor %></li>
  <% end %>
  </ul>
</div>

